/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.buy-now {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.buy-now:hover{
  background-color: green;
  color: #fff;
}
.ticketing-interface {
  background-color: #333;
  color: #fff;
  padding: 20px;
  
}

.pricing-section {
  display: flex;
  justify-content: space-between;
}

.pricing-option {
  text-align: center;
}

.pricing-option h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  margin-bottom: 10px;
}

.buy-now {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.time-slots {
  margin-top: 20px;
}

.time-slot-select {
  font-size: 16px;
  padding: 5px;
}
.introduction {
  max-height:100%;
  overflow: hidden;
  transition: height 0.5s ease;
}

.introduction.collapsed {
  height: 200px;
}

.toggle-button {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}